.pageContainer{
    width: 100%;
    height: auto;
    transition: 0.3s;
}


/* Section 1 */
.section1{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    
}

.header{
    padding: 25px;
    position: relative;
    

}

.pageContainer .section1 .header button:hover{
    transition: 0.5s;
    transform: scale(1.2);
    background-color: white;
    color: #E56717;
}

.overlay{
    width: 100%;
    height: 100%;
    background: black;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
}

#logo{
    width: 250px;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.9;
}

.pageContainer .section1 .welcome{
    width: 100%;
    height: 580px;
    color: white;
    border-top: 1px;

}

.pageContainer .section1 .text{
    border-left: 2px solid white;
    border-radius: 10px;
    border-right: 2px solid white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 75px;
    padding-right: 75px;
}

.section1 .welcome button{
    margin-top: 20px;
    background-color: #E56717;
}

.section1 .welcome button:hover{
    transform: scale(1.2);
    transition: 0.5s;
    color: #E56717;
    background-color: white;
}

.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color:#E56717; 
}


/* Section2 */
.section2{
    margin-top: 50px;
    height: 500px;
    width: auto;
    border-top: 1px solid black;
    padding-top: 50px;
}
.section2  img {
   width: 50%;
  
}

.section2 .text{
   
    border-left: 2px solid black;
    border-radius: 10px;
    border-right: 2px solid black;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 75px;
    padding-right: 75px;
}

.section2 .text button{
    margin-top: 20px;
    background-color: #E56717;

}

.section2 .text button:hover{
    transform: scale(1.2);
    transition: 0.5s;
    color: #E56717;
    background-color: white;
}

/* Section 3 */

.section3{
    margin-top: 50px;
    height: 500px;
    width: auto;
    border-top: 1px solid black;
    padding-top: 50px;
}
.section3  img {
   width: 50%;
  
}

.section3 .text{
   
    border-left: 2px solid black;
    border-radius: 10px;
    border-right: 2px solid black;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.section3 .text button{
    margin-top: 20px;
    background-color: #E56717;

}

.section3 .text button:hover{
    transform: scale(1.2);
    transition: 0.5s;
    color: #E56717;
    background-color: white;
}

/* Section 4 / Footer */
.section4{
    width: 100%;
    margin-top: 25px;
}

